*  {
margin: 0;
padding: 0;

}

#banner {

width: 100%;

}

h1 {

    text-align: center;
    color:gainsboro;
    text-transform:uppercase;
}

body {
    background: #636363;
    }

.texto {
background-color: white;
font-size: 35px;
text-align: center;

}